{% extends 'base.html.twig' %}

{% block title %}Transporty{% endblock %}

{% block body %}
    <h1>Transporty</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numer</th>
                <th>Data</th>
                <th>Kierowca</th>
                <th>Zamówienie</th>
                <th>Uwagi</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.number }}</td>
                <td>{{ delivery.deliveryDate ? delivery.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{% for onedriver in delivery.driver %}{{ onedriver.name }} {{ onedriver.surname }}{% endfor %}</td>
                <td>{% for order in delivery.deliveryOrder %}{{ order.number }}{% endfor %}</td>
                <td>{{ delivery.notices }}</td>
                <td>
                    <a href="{{ path('delivery_show', {'id': delivery.id}) }}">pokaż</a>
                    <a href="{{ path('delivery_edit', {'id': delivery.id}) }}">edytuj</a>
                    <a href="{{ path('delivery_delete', {'id': delivery.id}) }}">Usuń</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak wyników</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('delivery_new') }}">Dodaj nowy</a>
{% endblock %}
