{% extends 'base.html.twig' %}

{% block title %}Kontrahent{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ kontrahent.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ kontrahent.name }}</td>
                    </tr>
                    <tr>
                        <th>Adress</th>
                        <td>{{ kontrahent.Adress }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ kontrahent.phone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ kontrahent.email }}</td>
                    </tr>
                    <tr>
                        <th>Nip</th>
                        <td>{{ kontrahent.nip }}</td>
                    </tr>
                    <tr>
                        <th>Notices</th>
                        <td>{{ kontrahent.notices }}</td>
                    </tr>
                    <tr>
                        <th>Post_code</th>
                        <td>{{ kontrahent.postCode }}</td>
                    </tr>
                    <tr>
                        <th>Street</th>
                        <td>{{ kontrahent.street }}</td>
                    </tr>
                    <tr>
                        <th>Class_name</th>
                        <td>{{ kontrahent.className }}</td>
                    </tr>
                    <tr>
                        <th>Group_name</th>
                        <td>{{ kontrahent.groupName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                <th>Data</th>
                <th>Typ</th>
                <th>Informacja</th>
            </thead>
            <tbody>
            {% for log in kontrahent.logs %}
                <tr>
                    <td> {{log.date|date("m/d/Y H:i")}}</td><td> {{log.type }}</td><td>{{ log.text }}</td> 
                </tr>
            {% endfor %}
            </tbody>
            </table>
            <a href="{{ path('log_new') }}" class="btn btn-primary">Dodaj Log</a>
        </div>
    </div>
    

    

    
{% endblock %}
{% block footer %}
    <li class="nav-item"><a href="{{ path('kontrahent_index') }}" class="nav-link">Powrót</a></li>
    <li class="nav-item"><a href="{{ path('kontrahent_edit', {'id': kontrahent.id}) }}" class="nav-link">Edytuj</a></li>
    <li class="nav-item">{{ include('kontrahent/_delete_form.html.twig') }}</li>
{% endblock %}
