{% extends 'base.html.twig' %}

{% block title %}Centrum Wiadomości{% endblock %}

{% block body %}
    <style type="text/css">
            * {
                font-family: Arial, Helvetica, sans-serif !important;
            }
            .p-3{
                padding:20px;
            }
            table {
                border-collapse: collapse;
            }
            td,tr,th {
                border: 1px solid grey;
                vertical-align: text-top;
            }
            .text-center{
                text-align: center;
            }
            body{
                font-size:14px !important;
            }
        </style>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item {% if type == 'email_client' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'email_client' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'email_client','id':order.id})}}">Email klient</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'send_calculations' %}active{% endif %}">
                    <div class="d-flex position-relative">
                        <a class="{% if type == 'send_calculations' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'send_calculations','id':order.id})}}">Wyślij wycenę</a>
                    </div>
                </li>
                <li class="list-group-item  {% if type == 'call_client' %}active{% endif %}">
                    <div class="d-flex position-relative">
                        <a class="{% if type == 'call_client' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'call_client','id':order.id})}}">Zadzwoń klient</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'call_driver' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'call_driver' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'call_driver','id':order.id})}}">Zadzwoń kierowca</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'sms_driver_ask' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'sms_driver_ask' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'sms_driver_ask','id':order.id})}}">SMS kierowca zapytanie</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'sms_driver_delivery' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'sms_driver_delivery' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'sms_driver_delivery','id':order.id})}}">SMS kierowca dane transport</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'sms_client' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'sms_client' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'sms_client','id':order.id})}}">SMS klient</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'info' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'info' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'info','id':order.id})}}">Info prowadzący</a>
                    </div>
                </li>

            </ul>
            {% if app.request.get('type') == 'send_calculations' %}     
                <div class="row" style="margin-top:20px; border: 1px solid grey; font-size:10px;">
                    {% set cart = order %}
                    {% set agreements = '' %}
                    <br/>
                    <br/>
                    {{ include('pdf/client_order_standard.html.twig') }}
                </div>
            {% endif %}
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        {{ form_start(form) }}
                        {{ form_row(form.type) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.adress) }}
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-group">
                        {{ form_row(form.text) }}
                    </div>
                </div>

                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Data utworzenia</th>
                        <th>Typ</th>
                        <th>Rodzaj</th>
                        <th>Adres</th>
                        <th>Treść</th>
                        <th>Użytkownik</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>{{ message.dataCreated ? message.dataCreated|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ message.type }}</td>
                            <td>{{ message.status }}</td>
                            <td>{{ message.adress }}</td>
                            <td>{{ message.text }}</td>
                            <td>{{ message.createdBy.name }} {{ message.createdBy.surname }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Brak wiadomości</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
    <script>
        $(document).ready(function ($) {
            $('#exampleFormControlSelect1').change(function () {
                var adress = $('#exampleFormControlSelect1').val();
                $('#adressInput').val(adress);
            });
        });
    </script>
{% endblock %}
{% block footer %}
    <li class="nav-item"><a class="nav-link btn btn-primary" href="{{ path('message_new') }}">Utwórz nową</a></li>
    {% endblock %}
