{% extends 'base.html.twig' %}

{% block title %}Centrum Wiadomości{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item {% if type == 'email_client' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'email_clien' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'email_client','id':order.id})}}">Email klient</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'send_calculations' %}active{% endif %}">
                    <div class="d-flex position-relative">
                        <a class="{% if type == 'send_calculations' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'send_calculations','id':order.id})}}">Wyślij wycenę</a>
                    </div>
                </li>
                <li class="list-group-item  {% if type == 'call_client' %}active{% endif %}">
                    <div class="d-flex position-relative">
                        <a class="{% if type == 'call_client' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'call_client','id':order.id})}}">Zadzwoń klient</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'call_driver' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'call_driver' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'call_driver','id':order.id})}}">Zadzwoń kierowca</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'sms_driver_ask' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'sms_driver_ask' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'sms_driver_ask','id':order.id})}}">SMS kierowca zapytanie</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'sms_driver_delivery' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'sms_driver_delivery' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'sms_driver_delivery','id':order.id})}}">SMS kierowca dane transport</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'sms_client' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'sms_client' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'sms_client','id':order.id})}}">SMS klient</a>
                    </div>
                </li>
                <li class="list-group-item {% if type == 'info' %}active{% endif %}">
                    <div class="d-flex position-relative ">
                        <a class="{% if type == 'info' %}text-white{% endif %} stretched-link" href="{{ path('message_index_type',{'type':'info','id':order.id})}}">Info prowadzący</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <form>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Typ</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option value="{{ order.kontrahent.email }}">Email</option>
                                <option value="{{ order.phone }}">SMS</option>
                                <option value="{{ order.user.name }} {{ order.user.surname }}">Info</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="adressInput" aria-describedby="emailHelp" placeholder="Podaj adresata" value="{{ order.kontrahent.email }}">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Treść</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Witam serdecznie, w załączeniu przesyłam wycenę w przypadku pytań proszę odpisac na tą wiadomość lub o kontakt bezpośredni na telefon w stopce</textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning mb-2">Wyślij</button>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Data utworzenia</th>
                        <th>Treść</th>
                        <th>Typ</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>{{ message.dataCreated ? message.dataCreated|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ message.type }}</td>
                            <td>{{ message.text }}</td>
                            <td>{{ message.status }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Brak wiadomości</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
    <script>
        $(document).ready(function ($) {
            $('#exampleFormControlSelect1').change(function () {
                var adress = $('#exampleFormControlSelect1').val();
                $('#adressInput').val(adress);
            });
        });
    </script>
{% endblock %}
{% block footer %}
    <li class="nav-item"><a class="nav-link btn btn-primary" href="{{ path('message_new') }}">Utwórz nową</a></li>
    {% endblock %}
