<h3>Zamówienie nr {{ factory_order.number }}</h3>


<table class="table table-bordered">
    <thead>
    <th>Data utworzenia</th>
    <th>Data wysłania</th>
    <th>Utworzone przez</th>
    <th>Dotyczy zamówienia</th>
</thead>
<tbody>
    <tr>
        <td>{{ factory_order.dateCreated ? factory_order.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ factory_order.dateSended ? factory_order.dateSended|date('Y-m-d H:i:s') : '' }}</td>
        {% if factory_order.createdBy != null %}
            <td>{{ factory_order.createdBy.name }} {{ factory_order.createdBy.surname }}</td>
        {% endif %}
        <td>{% if factory_order.clientOrder %}
            <a href="{{ path('order_edit', {'id': factory_order.clientOrder.id}) }}" >{{ factory_order.clientOrder.number }} - {{ factory_order.clientOrder.kontrahent.name }}</a>
        {% endif %}</td>
    </tr>
</tbody>
</table>



{{ form_start(form) }}


<table class="table table-bordered">
    <thead>
    <th><input type="checkbox"/></td>
    <th>Nazwa</th>
    <th>Ilość na zamówieniu</th>
    <th>Miejsce odbioru</th>
    <th>Zrealizowano</th>
    <th>Do zamówienia</th>
    <th>Przeładunek</th>
    <th>Numer Auta</th>
    <th>Ilość palet</th>
    <th>Akcje</th>
</thead>
<tbody>
    {% for item in form.orderFactoryItems %} 
        <tr>
            <td><input type="checkbox" name="" /></td>
            <td>{{ item.vars.data.product.name }}</td>
            <td>{{ form_widget(item.where_pickup) }}</td>
            <td>0</td>
            <td>{{ form_widget(item.quantity) }}</td>
            <td>{{ form_widget(item.where_add) }}</td>
            <td>{{ form_widget(item.car_number) }}</td>
            <td>{{ item.vars.data.quantity/item.vars.data.product.packaging }}</td>
            <td><a href="" class="btn btn-danger">Usuń</a><button class="btn btn-warning">{{ button_label|default('Zapisz') }}</button></td>
        </tr>
    {% endfor %}
    <tr>
        <td><a href="{{ path('product_index',{'type': 'factory_order'}) }}" class="btn btn-primary">Dodaj Produkt</a></td>
        <td colspan="4"></td>

    <tr>
</tbody>
</table>

{{ form_end(form) }}

