{% extends 'base.html.twig' %}

{% block title %}Zamówienia{% endblock %}
{% block filters %}
    <h3>Lista zamówień</h3>
    <form class="form">
        <div class="row">
            <table class="table table-primary">
                <div class="form-group">
                    <td><label for="search_kontrahent">Numer</label><br><input  class="form-control" type="text" name="search_number"></td>
                    <td><label for="search_kontrahent">Kontrahent</label><br><input  class="form-control" type="text" name="search_kontrahent"></td>
                    <td><label for="search_kontrahent">Data zamówienia</label><br><input  class="form-control" type="text" name="search_order_date"></td>
                    <td><label for="search_kontrahent">Status</label><br><input  class="form-control" type="text" name="search_status"></td>
                    <td><label for="search_kontrahent">Data dostawy</label><br><input  class="form-control" type="text" name="search_delivery_date"></td>
                    <td><label for="search_kontrahent">Utworzone przez</label><br><input  class="form-control" type="text" name="search_created_by"></td>
                    <td><button type="submit" class="btn btn-primary m-4">Filtruj</button></td>
                </div>
            </table>
        </div>
    </form>
{% endblock %}
{% block body %}
    {% if orders.haveToPaginate %}
        {{ pagerfanta(orders) }}
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Numer</th>
                <th>Data Zamówienia</th>
                <th>Kontrahent</th>
                <th>Status</th>
                <th>Data Dostawy</th>
                <th>Utworzone przez</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr class="clickable-row" data-href='{{ path('order_edit', {'id': order.id}) }}'>
                    <td>{{ order.number }}</td>
                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ order.kontrahent }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d') : '' }}</td>
                    <td>{{ order.user.name }} {{ order.user.surname }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nie znalazłem zamówień</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if orders.haveToPaginate %}
        {{ pagerfanta(orders) }}
    {% endif %}
{% endblock %}

{% block footer %}
    <li><a class="nav-link btn btn-primary" href="{{ path('cart') }}">Utwórz nowy</a></li>
{% endblock %}