{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.get('_route') == 'order_index' %}Zamówienia{% endif %}
    {% if app.request.get('_route') == 'offer_index' %}Oferty{% endif %}
{% endblock %}
{% block filters %}
    <form class="form">
        <div class="row">
            <table class="table table-primary">
                <div class="form-group">
                    <td>
                        <label for="search_number">Numer</label><br>
                        <input  class="form-control" type="text" name="search_number" value="{% if parameters.number %}{{ parameters.number }}{% endif %}">
                    </td>
                    <td>
                        <label for="search_kontrahent">Kontrahent</label><br>
                        <input  class="form-control" type="text" name="search_kontrahent" value="{% if parameters.kontrahent %}{{ parameters.kontrahent }}{% endif %}">
                    </td>
                    <td>
                        <label for="reportrange">Data utworzenia</label><br>
                        <input id="reportrange" name="reportrange" type="text" value="<span></span>"  class="form-select" aria-label="Data utworzenia" >
                    </td>
                    <td>
                        <label for="search_kontrahent">Status</label><br>
                        <select class="form-select" aria-label="Status" name="search_status">
                            <option value="">Wszystkie</option>
                            <option value="active" {% if parameters.status == 'active' %}selected{% endif %}>Aktywne</option>
                            <option value="ordered" {% if parameters.status == 'ordered' %}selected{% endif %}>Zamówione</option>
                            <option value="closed" {% if parameters.status == 'closed' %}selected{% endif %}>Zamknięte</option>
                            <option value="anulled" {% if parameters.status == 'anulled' %}selected{% endif %}>Anulowane</option>
                        </select>

                    </td>
                    <td>
                        <label for="reportrange1">Data dostawy</label><br>
                        <input id="reportrange1" name="reportrange1" type="text" value="<span></span>"  class="form-select" aria-label="Data dostawy" >
                    </td>
                    <td>
                        <label for="search_kontrahent">Utworzone przez</label><br>
                        <select class="form-select" aria-label="Użytkownik" name="search_created_by">
                            <option value="{{ app.user.id }}" {% if parameters.user == app.user.id %}selected{% endif %}>Moje</option>
                            <option value="" {% if parameters.user == "" %}selected{% endif %}>Wszyscy</option>
                            {% for user in users %}
                                {% if app.user.id != user.id %}
                                    <option value="{{ user.id }}" {% if parameters.user == user.id %}selected{% endif %}>{{ user.name }} {{ user.surname }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><button type="submit" class="btn btn-primary m-4" name="submit">Filtruj</button></td>
                    <td><button type="submit" class="btn btn-warning m-4" name="reset">Resetuj</button></td>
                </div>
            </table>
        </div>
    </form>
{% endblock %}
{% block body %}
    {% if orders.haveToPaginate %}
        {{ pagerfanta(orders) }}
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Numer</th>
                <th>Data Zamówienia</th>
                <th>Kontrahent</th>
                <th>Data Dostawy</th>
                <th>Utworzone przez</th>
                <th>Suma</th>
                <th>Status</th>
                <th>Uwagi</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr class="clickable-row {% if order.type == 'canceled' %}table-danger {% endif %} {% if order.isOrdered == true and order.status == 'offer' %}table-success{% endif %}" data-href='{{ path('order_edit', {'id': order.id}) }}'>
                    <td>{{ order.number }}</td>
                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ order.kontrahent }}</td>
                    <td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d') : '' }}</td>
                    <td>{{ order.user.name }} {{ order.user.surname }}</td>
                    <td style="text-align: right; margin-right: 10px;">{{ order.total|number_format(2, '.', ' ') }}</p></td>
                        {% if order.status == 'offer' %}

                        <td class="text-center">
                            {% if order.type == 'canceled' %}
                                <a href="">
                                    <i class="fa-solid fa-rectangle-xmark" style="color:red"></i>
                                </a> 
                            {% endif %}
                            {% if order.type == 'new' %}
                                <span class="badge bg-warning text-center">Nowa oferta<a href="">
                                        <i class="fa-solid fa-industry"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if order.type == 'checking' %}
                                <span class="badge bg-secondary text-center">Sprawdzam dostępność<a href="">
                                        <i class="fa-solid fa-industry"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if order.type == 'car_price' %}
                                <span class="badge bg-primary text-center">Potwierdzam transport<a href="">
                                        <i class="fa-solid fa-industry"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if order.type == 'client_info' %}
                                <span class="badge bg-info text-center">Informuje klienta<a href="">
                                        <i class="fa-solid fa-industry"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if order.type == 'accepted' %}
                                <span class="badge bg-succes text-center">Oferta zamówiona<a href="">
                                        <i class="fa-solid fa-industry"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if order.isOrdered == true and order.orderId > 0 %}
                                <a href="{{ path('order_edit', {'id': order.orderId}) }}">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                </a>{% endif %}
                            </td>{% endif %}
                            {% if order.status == 'order' %}
                                <td>
                                    {% if order.type == 'new' %}
                                        <span class="badge bg-warning">Nowy <a href="">
                                                <i class="fa-solid fa-industry"></i>
                                            </a>
                                        </span>
                                    {% endif %}
                                    {% if order.type == '' %}
                                        <a href="">
                                            <i class="fa-solid fa-industry"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa-solid fa-envelope"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa-solid fa-truck"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa-solid fa-print"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa-solid fa-circle-check"></i>
                                        </a>
                                    {% endif %}
                                    {% if order.type == 'canceled' %}
                                        <a href="">
                                            <i class="fa-solid fa-rectangle-xmark"></i>
                                        </a>
                                    {% endif %}

                                </td>{% endif %}
                                <td>{{ order.notice }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Nie znalazłem zamówień</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if orders.haveToPaginate %}
                            {{ pagerfanta(orders) }}
                        {% endif %}
                        {% endblock %}

                            {% block footer %}
                                <li><a class="nav-link btn btn-primary" href="{{ path('cart') }}">Utwórz nowy</a></li>
                                <script type="text/javascript">
                                    $(function () {

                                        var start = moment().subtract(365, 'days');
                                        var end = moment();
                                        function cb(start, end) {
                                            $('#reportrange span').html(start.format('DD_MM_YYYY') + ' - ' + end.format('DD_MM_YYYY'));
                                            $('#reportrange1 span').html(start.format('DD_MM_YYYY') + ' - ' + end.format('DD_MM_YYYY'));
                                        }

                                        $('#reportrange').daterangepicker({
                                            startDate: start,
                                            endDate: end,
                                            locale: {
                                                "format": "MM/DD/YYYY",
                                                "separator": " - ",
                                                "applyLabel": "Akceptuj",
                                                "cancelLabel": "Anuluj",
                                                "fromLabel": "Od",
                                                "toLabel": "Do",
                                                "customRangeLabel": "Wybierz Przedział",
                                                "daysOfWeek": [
                                                    "Niedz",
                                                    "Pon",
                                                    "Wt",
                                                    "Śr",
                                                    "Czw",
                                                    "Pt",
                                                    "Sob"
                                                ],
                                                "monthNames": [
                                                    "Styczeń",
                                                    "Luty",
                                                    "Marzec",
                                                    "Kwiecień",
                                                    "Maj",
                                                    "Czerwice",
                                                    "Lipiec",
                                                    "Sierpień",
                                                    "Wrzesień",
                                                    "Październik",
                                                    "Listopad",
                                                    "Grudzień"
                                                ],
                                                "firstDay": 1
                                            },
                                            ranges: {
                                                'Dzisiaj': [moment(), moment()],
                                                'Wczoraj': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                                'Ostatnie 7 Dni': [moment().subtract(6, 'days'), moment()],
                                                'Ostatnie 30 Dni': [moment().subtract(29, 'days'), moment()],
                                                'Ten miesiąc': [moment().startOf('month'), moment().endOf('month')],
                                                'Poprzedni miesiąc': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                            }
                                        }, cb);

                                        $('#reportrange1').daterangepicker({
                                            startDate: start,
                                            endDate: end,
                                            locale: {
                                                "format": "MM/DD/YYYY",
                                                "separator": " - ",
                                                "applyLabel": "Akceptuj",
                                                "cancelLabel": "Anuluj",
                                                "fromLabel": "Od",
                                                "toLabel": "Do",
                                                "customRangeLabel": "Wybierz Przedział",
                                                "daysOfWeek": [
                                                    "Niedz",
                                                    "Pon",
                                                    "Wt",
                                                    "Śr",
                                                    "Czw",
                                                    "Pt",
                                                    "Sob"
                                                ],
                                                "monthNames": [
                                                    "Styczeń",
                                                    "Luty",
                                                    "Marzec",
                                                    "Kwiecień",
                                                    "Maj",
                                                    "Czerwice",
                                                    "Lipiec",
                                                    "Sierpień",
                                                    "Wrzesień",
                                                    "Październik",
                                                    "Listopad",
                                                    "Grudzień"
                                                ],
                                                "firstDay": 1
                                            },
                                            ranges: {
                                                'Dzisiaj': [moment(), moment()],
                                                'Wczoraj': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                                'Ostatnie 7 Dni': [moment().subtract(6, 'days'), moment()],
                                                'Ostatnie 30 Dni': [moment().subtract(29, 'days'), moment()],
                                                'Ten miesiąc': [moment().startOf('month'), moment().endOf('month')],
                                                'Poprzedni miesiąc': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                            }
                                        }, cb);

                                        cb(start, end);
                                    });
                                </script>
                            {% endblock %}