{% extends 'base.html.twig' %}

{% block title %}OrderFactoryItem index{% endblock %}

{% block body %}
    <h1>OrderFactoryItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_factory_item in order_factory_items %}
            <tr>
                <td>{{ order_factory_item.id }}</td>
                <td>{{ order_factory_item.quantity }}</td>
                <td>
                    <a href="{{ path('order_factory_item_show', {'id': order_factory_item.id}) }}">show</a>
                    <a href="{{ path('order_factory_item_edit', {'id': order_factory_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_factory_item_new') }}">Create new</a>
{% endblock %}
